TOKEN=
CLIENT_ID=
GUILD_ID=

# Discord
CHANNEL_ID=
DISCORD_TOKEN=

# Twitch
twitch_client=
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

# APIs externas
AGENT_API_KEY=
MARVEL_RIVALS_API_KEY=
TRACKER_API_KEY=
Fornite_KEY=
FORTNITE_KEY=
